body {
  margin: 5px;
  padding: 0;
  background-image: url("./images/texture.jpg");
  background-size: cover;
  color: lightgray;
  font-family: "Times New Roman", serif;
  overflow-x: hidden;
  height: auto;
}

#game_canvas {
  display: block;
  border: 4px solid rgb(77,79,81);
  left: auto;
  padding: 0px;
  margin: 10px auto 10px auto;  
}

header {
  text-align: center;
  position: static;
  vertical-align: middle;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px gold;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 3px;
  margin: 0;
}

div#gameInfo {
  position: absolute;
  margin: 5px;
  width: 20%;
  right: 0;
}

.btn-group .button {
  border: 2px solid black;
  color: black;
  width: 50%;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: 5px;
}

.btn-group .towerButton {
  opacity: 0.5;
}

.btn-group .towerButton:hover {
  opacity: 1.0;
}

.button[data-color="green"] {
  background-color: green;
}

.button[data-color="yellow"] {
  background-color: yellow;
}

.button[data-color="red"] {
  background-color: red;
}

.btn-group .button.selectedTower {
  opacity: 1;
}

div#gameInfo {
  text-align: center;
}

div#gameInfo div {
  text-align: center;
  margin: 5px;
  padding 0;
}

div#towerSelection {
  text-align: center;
}

header img {
  padding: 0; 
}

header img.right {
  position: absolute;
  right: 2%;
  top: 0;
  -webkit-animation-name: exampleRight; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: exampleRight;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleRight {
    0%   {right:2%;}
    50%  {right:20%;}
    100% {right:2%;}
}

/* Standard syntax */
@keyframes exampleLeft {
    0%   {right:2%;}
    50%  {right:20%;}
    100% {right:2%;}
}

header img.left {
  position: absolute;
  left: 2%;
  top: 0;
  -webkit-animation-name: exampleLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: exampleLeft;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleLeft {
    0%   {left:0px; top:0px;}
    50%  {left:200px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes exampleLeft {
    0%   {left:2%; top:0px;}
    50%  {left:20%; top:0px;}
    100% {left:2%; top:0px;}
}

header h1 {
  display: inline;
}
